.home-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 500;
}
.button2 {
  background-color: #0967d2;
  height: 35px;
  width: 140px;
  margin: 5px;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
}
.home-main-image {
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .home-main-image {
    height: 300px;
    width: 300px;
    margin: 30px;
    order: 0;
  }
}
.content-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .content-card {
    align-items: center;
    justify-content: center;
    text-align: center;
    order: 1;
  }
}
